@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>(972) 762 - 1896</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>(805) 886 - 1810</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Web Development</span>
        <span><a href="mailto:gxp107120@utdallas.edu">Govindarajan Panneerselvam</a></span>
        <span><a href="mailto:gxp107120@utdallas.edu">Jayan Karthik Pari</a></span>
    </p>
    <p>
        <span class="label">SHAS Application</span>
        <span><a href="mailto:riyudds@gmail.com">Uday Kumar Rajendran</a></span>
        <span><a href="mailto:riyudds@gmail.com">Vignesh Swaminathan</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        800 W Campbell Road<br />
        Richardson, TX - 75080
    </p>
</section>