@{
    ViewBag.Title = "Weather";
}

<style type="text/css">
    iframe {
        margin-left:470px;
    }
    html {
        background-color: #e2e2e2;
    }
</style>

<h2>Weather</h2>

<div style="font: 11px Tahoma;padding:5px 0px 0px 15px;text-align:center;width:950px; margin-left:50px">
</div>

@section scripts{
    <script type="text/javascript" src="http://www.freemeteo.com/weather.fm?key=4C53BBB01E2E46CEC082D065A3E795CD279660"></script>
    }