<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8" />
        <title>Device On - Long Time - Action Needed</title>
        <meta name="viewport" content="width=device-width" />
	</head>
	<body>
        <img src="~/Content/MailContent/Images/SHASApplicationBanner.jpg" /><br />
        @RenderBody()
        <p>Best Regards,</p>
        <p><a href="http://shasapp.blogspot.com/">SHAS</a></p>
		
	</body>
</html>